<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon App Automation Suite">
    <test name="Amazon App Test">

        <classes>
            <class name="com.Amazon.qa.testCases.HomePageTest"/>
            <class name="com.Amazon.qa.testCases.LoginPageTest"/>
        </classes>

    </test> <!-- Test -->

</suite> <!-- Suite -->